*
{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-mid
{
  width: 85%;
  margin:10px auto;
  display: flex;
}
.company-logo img{
  width: 100px;
}
.company-logo
{
  width: 30%;
}
.menu
{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.menu ul
{
  list-style: none;
  display: flex;

}
.menu ul li
{
  
  position: relative;
}
.menu ul li a
{
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  font-size: 18px;
  color: #ffff;
}
.menu ul li a.active
{
  color: red;
}
.menu ul li .subMenu
{
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  text-align: center;
  border: 1px solid #fff;
}
.menu ul li:hover ul
{
  display: block;
}
.menu ul li:hover span
{
  color: #15e0ee;
  font-size: 20px;
  transition: .4s;
}
.profileBtn
{
  margin-left: 30px;
}
.userButton
{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
  overflow: hidden;
}
.userButton img
{
  height: 100%;
  width: 100%;
}
.userButton:hover
{
  transform: translateY(2px);
  transition: .3s;
}

.userDropMenu
{
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 52px;
  left: -150px;
  right: 0;
  text-align: center;
  border: 1px solid #fff;
  padding: 0px !important;
  z-index: 2;
  background-color: #111;
}


.userDropMenu li a
{
  color: #fff;
  text-align: center;
  width: 100%;
}
.userDropMenu li a:hover
{
  background-color: rgba(136, 133, 133, 0.2);
  
}
.myProject
{
  border-bottom: 1px solid rgba(255,255,255,.1);
}


/* header section */
.headerDesMid .comName
{
  font-size: 4rem;
  user-select: none;
}
.headerDesMid
{
  text-align: center;
  margin-top: 10%;
}
.headerDesMid h1
{
  font-size: 2.5rem;
  user-select: none;
  color: #fff;
}
.headerDesMid p
{
  font-size: 1.5rem;
  color: #fff;
}
.headerDes
{
  height: 500px;
}



